@import '../mixins/typography';
@mixin button-base($startColor:#fdfdfd,$endColor:#e6e6e6,$hoverColor:#dbdbdb, $borderColor: false){
  background: linear-gradient($startColor, $endColor);
  background-color: $startColor;
  border-radius:3px;
  display: inline-block;
  text-align: center;
  cursor:pointer;
  vertical-align: top;
  transition: box-shadow 100ms ease-in-out;
  @if($borderColor){
    border: 1px solid $borderColor;
    padding:12px;
    &:hover,&:focus{
      box-shadow: inset 0 -3px $hoverColor;
      text-decoration: none;
      padding-top: 11px;
      padding-bottom:13px;
    }
  }
  @else{
    padding:13px;
    &:hover,&:focus{
      box-shadow: inset 0 -4px $hoverColor;
      text-decoration: none;
      outline:none;
      padding-top:12px;
      padding-bottom: 14px;
    }
  }
}

@mixin button-primary($small:false){
  @include button-base(#00a504,#007403,#005c03);
  @if($small) {
    @include body-2(#fff,bold);
  }
  @else{
    @include btn-text(#fff);
  }
}
@mixin button-secondary($small:false){
  @include button-base(#fdfdfd,#e6e6e6,#dbdbdb,#dbdbdb);
  @if($small) {
    @include body-2($blue,bold);
  }
  @else{
    @include btn-text($blue);
  }
}
@mixin button-search($small:false){
  @include button-base(#0099db,#2273b6,#1e639c);
  @if($small) {
    @include body-2(#fff,bold);
  }
  @else{
    @include btn-text(#fff);
  }
}
@mixin button-delete($small:false){
  @include button-base(#ea002a,#c50023,#9e001d);
  @if($small) {
    @include body-2(#fff,bold);
  }
  @else{
    @include btn-text(#fff);
  }
}

@mixin link-grid-button(){
  display:block;
  background-color: $grey-light;
  padding: 13px 2px;
  text-align: center;
  cursor:pointer;
  transition: box-shadow 100ms ease-in-out;
  @include body-3($blue);
  &:hover, &:focus{
    box-shadow: inset 0 -3px $blue;
    text-decoration:none;
    outline:none;
  }
}

@mixin small-button(){
  @include body-2(#fff,bold);
  background-color: $blue;
  border-radius:3px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 5px 11px;
  &:hover{
    text-decoration: none;
  }
}
