@mixin normalised-select-box($width, $height, $fontSize) {
  border-radius: 3px;
  padding: 5px;
  width: $width;
  height: $height;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: bottom;
  outline: none;
  font-size: $fontSize;
  font-family: Arial;
  color: #333;
  position: relative;
}