.anotherModuleWithImages_png{
	display:inline-block;
    background-color: $color-background;
    background-image: resolve("img/lightning.png");
    background-size: $spacing-unit $spacing-unit; 
    width:24px;
    height:34px;
}
.anotherModuleWithImages_jpg{
	display:inline-block;
    background-color: $color-background;
    background-image: url("img/lightning.jpg");
    background-size: $spacing-unit $spacing-unit; 
    width:24px;
    height:34px;
}
.anotherModuleWithImages_svg{
	display:inline-block;
    background-color: $color-background;
    background-image: url("img/svg/lightning.svg");
    background-size: $spacing-unit $spacing-unit; 
    width:24px;
    height:34px;
}