/* FROM OFFICIAL STYLE GUIDE */
/* Stuart Hull */

/* PRIMARY */

$blue: #267ec8;

$copy-dark: #333333;
$copy-light: #666666;

$highlight-blue: #7DB2DE;
$highlight-blue-light: #D4E5F4;
$highlight-blue-dark: #0064AC;

$highlight-green: #00a504;

$grey: #d2d2d2;
$grey-light: #dfdfdf;
$grey-lightest: #f5f5f5;
$grey-dark: #999999;

/* SECONDARY */

$amber: #ffc71f;
$amber-light: #ffe07e;
$amber-dark: #ffa919;

/* GREEN TO BE ADDED $green: #8BC34A; */
$green-light: #AED581;
$green-dark: #689F38;

$cyan: #19C3D8;
$cyan-light: #5ED5E4;
$cyan-dark: #19A1B0;

$blue-grey: #708A96;
$blue-grey-light: #9BADB6;
$blue-grey-dark: #576A73;

$purple: #A63CB8;
$purple-light: #C177CD;
$purple-dark: #7931A4;

$pink: #EB3472;
$pink-light: #F1719D;
$pink-dark: #C82F6B;

$orange: #FF6738;
$orange-light: #FF9574;
$orange-dark: #E85C30;

$indigo: #5262BC;
$indigo-light: #8692D0;
$indigo-dark: #4452AB;

/* SPECIAL USE */

$error-red: #EA002A;
$focus-yellow: #FDFFCA;
$highlight-orange: #FFF8E1;


/* Site colors */

$color-background: #FFF;
$color-bodytext: $copy-dark;
$color-heading: $grey-dark;

